div.col-sm-3 {
	margin-left:4%;
	margin-right: 4%;
	margin-top: 15px;
	padding-top: 10px;
}

.col-sm-3 h2, .col-sm-3 p, .col-sm-3 h5 {
	text-align: center;
}

.col-sm-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 70%;
}

.reset {
	border: 2px solid black;
}

.addBorder {
	border: 5px solid black;
	background-color: lightyellow;
}